<br><br><br>
<h1>관리자 페이지 입니다</h1>
<!-- 여기를 감싸고있는 admin레이아웃을 먼저 찾음 -->

    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <h2>리뷰 현황</h2>
      <div class="table-responsive">
        <table class="table table-striped">

          <thead>
            <tr>
              <th>#</th>
              <th>영화</th>
              <th>글쓴이</th>
              <th>평점</th>
              <th>리뷰</th>
              <th>삭제</th>
            </tr>
          </thead>

          <tbody>

            <% @reviews.each do |review| %>
            <tr>
            <td><%= review.id %></td>
            <td><%= review.movie.title %></td>
            <td><img width="30" height="30" src="<%= review.movie.poster %>"></td>
            <td><%= review.user.nickname %></td>
            <td><%= review.rating %></td>
            <td><%= review.comment %></td>
            <td><%= link_to "삭제", "/admin/reviews_destroy/#{review.id}", method: :put, data: {confirm: "지우기를 하시겠습니까?"}%></td>

            </tr>
            <% end %>

          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>


</body>
</html>
