<<<<<<< HEAD

=======
>>>>>>> d776ad36555d0bcbb98e84e500a8907a61ae41d5
<header>
<div class="collapse bg-dark" id="navbarHeader">
<div class="container">
  <div class="row">
    <div class="col-sm-8 py-4">
      <h4 class="text-white">왓차</h4>
<<<<<<< HEAD
      <p class="text-muted">영화 평점 사이트 왓챠 입니다. 저희 왓차를 이용하시는 모든 회원님들을 대상으로 평점 주기 이벤트를 실시하고 있습니다. 많은 참여 바랍니다.</p>
=======
      <p class="text-muted">왓차차차차창</p>
>>>>>>> d776ad36555d0bcbb98e84e500a8907a61ae41d5
    </div>
    <div class="col-sm-4 py-4">
      <h4 class="text-white">Contact</h4>
      <ul class="list-unstyled">
<<<<<<< HEAD
          <li class="text-white"><%= current_user.nickname if user_signed_in? %> 님 안녕하세영?</li>
=======
          <li class="text-white"><%= current_user.nickname if user_signed_in? %></li>
>>>>>>> d776ad36555d0bcbb98e84e500a8907a61ae41d5
          <li><%= link_to "게시판", posts_path, class: "text-white" %></li>
          <li><%= link_to "로그아웃", destroy_user_session_path, method: "delete", class: "text-white" %></li>
          <li><%= link_to "로그인", new_user_session_path, class: "text-white" %></li>
      </ul>
    </div>
  </div>
</div>
</div>
<<<<<<< HEAD

=======
>>>>>>> d776ad36555d0bcbb98e84e500a8907a61ae41d5
<div class="navbar navbar-dark bg-dark">
<div class="container d-flex justify-content-between">
  <a href="/" class="navbar-brand">영화 목록</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
</div>
</header>
